@font-face {
  font-family: 'worksans';
  src:
    url('/fonts/worksans/WorkSans-Regular.woff2') format('woff2'),
    url('/fonts/worksans/WorkSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'worksans';
  src:
    url('/fonts/worksans/WorkSans-Bold.woff2') format('woff2'),
    url('/fonts/worksans/WorkSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
