@import './base.css';

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #c6c600;
  color: #a8a803;
  transition: 0.4s;
  /* padding: 3px; */
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(165, 9%, 82%, 0.2);
  }
}
strong {
  font-weight: bold;
}
button {
  cursor: pointer;
  background-color: #c6c600;
  background-color: #878701;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.4s;
}
button.close {
  position: absolute;
  top: 5px;
  right: 30px;
  border: none;
  text-align: center;
  width: 24px;
  height: 24px;
  font: 34px/24px Tahoma, Verdana, sans-serif;
    font-weight: normal;
  color: #757575;
  text-decoration: none;
  background: transparent;
  font-weight: bold;
}
h2 {
  line-height: 1.2;
  font-size: 3em;
  font-weight: normal;
  color: #c6c600;
  margin: 0.25rem 0 0.25rem -3px;
  font-weight: normal;
  word-break: break-all;  
}
h2.layer-title {
  /*
  display: inline;
  -webkit-box-decoration-break: clone;
  padding: 2px 11px;
  color: white;
  */
  color: black;
}
p {
  margin: 0 0 1rem 0;
  line-height: 1.5;
}
p.small {
  font-size: 1em;
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}

.sidebar p {
  font-size: 1.2em;
}
.sidebar p.small {
  font-size: 1em;
}
.mtypeIcon {
  font-size: 130%;
}
p.place-layer {
  display: inline-block;
  background-color: lightsalmon;
  padding: 2px 11px;
  margin: 0 0 0.75em -12px;
  border-radius: 2px;
  color: white;
  font-weight: normal;
}  
p.place-layer a {
  color: white !important;
  text-decoration: none;
}
p.place-date, p.place-dates {
  margin: 0 0 0.25em;
}
p.place-dates svg {
  vertical-align: middle;
  margin-top: -4px;
  transform: scale(0.8);
}
p.place-location {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25em;
}

@media (min-width: 768px) {
  .overlay h2 {
    font-size: 3em;
  }
  .overlay p {
    font-size: 1.3em;
  }
}
.place-source p {
  font-style: italic;
  font-size: 1em;
}
.action {
  margin: 1rem 0;
}


hr {
  margin: 2rem 0 1.5rem;
  height: 1px;
  border: none;
  border-bottom: 1px solid #666;
}
.content {
  padding: 20px;  
  background-color: #fefee6;
  height: calc(100vh - 40px);
  color: #444;
}
@media (min-width: 768px) {
  .content {
 
  }
}
#map {
  width: 100%;
  height: calc(100vh - 40px);
  font-family: unset;
  background-color: #222;
  background-color: #888;
  background-color: #444;

}
@media (min-width: 768px) {
  #map {
  
  }
}

/* ---------------------------------- */


.sidebar {
  position: absolute;
  top: 45px;
  left: 0;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  width: 100%;
  padding: 20px 20px 60px 20px;
  transition: all 2.3s ease;
  transform: translateX(0%);
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    width: 575px;
    padding: 50px 30px 60px;  
  }
}
@media (min-width: 1168px) {
  .sidebar {
    width: 720px;
    padding: 50px 40px 60px;  
  }
}
.sidebar-content {
  padding: 1rem;
}
.sidebar {
  overflow-y: auto;
}
/* Hide scrollbar styles */
-content {
  overflow-y: auto;
  height: 100%;
}


/* ---------------------------------- */
/* leaflet custom styles */


input.leaflet-control-layers-selector[disabled=""] + span {

  color: #aaa;
}
#map.leaflet-container a {
  color: #c6c600;
}
#map.leaflet-container .leaflet-control-attribution {
  color: silver;
  background: transparent;
  margin: 0;
}
#map.leaflet-container .leaflet-control-attribution a {
  color: silver;
}
body.light-mode #map.leaflet-container .leaflet-control-attribution,
body.light-mode #map.leaflet-container .leaflet-control-attribution a {
  color: #666;
}

#map.leaflet-container a.leaflet-popup-close-button {
  right: 5px;
  font: 24px/24px Tahoma, Verdana, sans-serif;
}
#map.leaflet-container .leaflet-control-layers {
  background: white;
  border: none;
}
#map.leaflet-container .leaflet-control-layers-separator,
#map.leaflet-container .leaflet-control-layers-overlays {
  display: none;
}
body.dark-mode #map.leaflet-container .leaflet-control-layers {
  background: #333;
  border: 2px solid #111;
}

#map.leaflet-container .leaflet-bar {
    border: none;
}

#map.leaflet-container .leaflet-bar a,
#map.leaflet-container .leaflet-bar a.leaflet-control-zoom-out,
#map.leaflet-container .leaflet-bar a.leaflet-control-zoom-in
{
  background-color: white;
  color: #666;  
  border: none;
  border-radius: 6px;
  vertical-align: sub;
  line-height: 1;
}
body.dark-mode #map.leaflet-container .leaflet-bar a,
body.dark-mode #map.leaflet-container .leaflet-bar a.leaflet-control-zoom-out,
body.dark-mode #map.leaflet-container .leaflet-bar a.leaflet-control-zoom-in {
  background-color: #444;
  color: #999;
  border: 2px solid #111;
}




#map.leaflet-container .leaflet-bar a.leaflet-control-zoom-in {
  margin-bottom: 5px;
  vertical-align: middle;
}
#map.leaflet-container .leaflet-bar a.leaflet-control-zoom-in span,
#map.leaflet-container .leaflet-bar a.leaflet-control-zoom-out span {
  vertical-align: middle;
}

#map.leaflet-container .leaflet-control-layers-toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 4px 5px;
  color: #888;
  fill: #888;
  color: red;
  fill: red;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath fill='%23666' d='M20.0834 15.1999L21.2855 15.9212C21.5223 16.0633 21.599 16.3704 21.457 16.6072C21.4147 16.6776 21.3559 16.7365 21.2855 16.7787L12.5145 22.0412C12.1979 22.2313 11.8022 22.2313 11.4856 22.0412L2.71463 16.7787C2.47784 16.6366 2.40106 16.3295 2.54313 16.0927C2.58536 16.0223 2.64425 15.9634 2.71463 15.9212L3.91672 15.1999L12.0001 20.0499L20.0834 15.1999ZM20.0834 10.4999L21.2855 11.2212C21.5223 11.3633 21.599 11.6704 21.457 11.9072C21.4147 11.9776 21.3559 12.0365 21.2855 12.0787L12.0001 17.6499L2.71463 12.0787C2.47784 11.9366 2.40106 11.6295 2.54313 11.3927C2.58536 11.3223 2.64425 11.2634 2.71463 11.2212L3.91672 10.4999L12.0001 15.3499L20.0834 10.4999ZM12.5145 1.30864L21.2855 6.5712C21.5223 6.71327 21.599 7.0204 21.457 7.25719C21.4147 7.32757 21.3559 7.38647 21.2855 7.42869L12.0001 12.9999L2.71463 7.42869C2.47784 7.28662 2.40106 6.97949 2.54313 6.7427C2.58536 6.67232 2.64425 6.61343 2.71463 6.5712L11.4856 1.30864C11.8022 1.11864 12.1979 1.11864 12.5145 1.30864ZM12.0001 3.33233L5.88735 6.99995L12.0001 10.6676L18.1128 6.99995L12.0001 3.33233Z'%3E%3C/path%3E%3C/svg%3E");
}
#map.leaflet-container .leaflet-control-layers label {
  display: block;
  color: #333;
  margin-bottom: 5px;
}
body.dark-mode #map.leaflet-container .leaflet-control-layers label {
  color: silver;
}